@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Raleway:ital,wght@0,100;1,100&family=Roboto:wght@300&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(25deg,red,rgb(0, 0, 0),#ff0000,rgb(227, 10, 10));
  background-size: 400% 400%;
  position: relative;
}

.login--container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 900px;
}
.login--container .login {
  width: 400px;
  height: 560px;
  background-color: #18181b;
  border-radius: 15px;
  border: #ffffff 2px solid;
}
.login--container .login .login--title h1 {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 600;
  text-align: center;
  margin-top: 40px;
  color: #ffffff;
}
.login--container .login .login__input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 25px;
}
.login--container .login .login__input .login__input--username {
  margin: 12.5px;
}
.login--container .login .login__input .login__input--username label {
  color: #ffffff;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
}
.login--container .login .login__input .login__input--username input {
  width: 320px;
  height: 22px;
  background-color: #18181b;
  border: #505050 0.5px solid;
  color: #ffffff;
  border-radius: 3px;
  padding: 0.5rem;
}
.login--container .login .login__input .login__input--username input:hover {
  border: #505050 2px solid;
}
.login--container .login .login__input .login__input--username input::-moz-placeholder {
  color: transparent;
}
.login--container .login .login__input .login__input--username input::placeholder {
  color: transparent;
}
.login--container .login .login__input .login__input--username input:focus {
  border: #a870fe 5px solid;
}
.login--container .login .login__input .login__input--password {
  margin: 12.5px;
}
.login--container .login .login__input .login__input--password a {
  font-family: "Kanit";
  font-style: normal;
  font-weight: 200;
  color: #9d78d0;
  text-decoration: none;
}
.login--container .login .login__input .login__input--password a:hover {
  text-decoration: underline;
}
.login--container .login .login__input .login__input--password label {
  color: #ffffff;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
}
.login--container .login .login__input .login__input--password input {
  width: 320px;
  height: 22px;
  background-color: #18181b;
  border: #505050 0.5px solid;
  color: #ffffff;
  border-radius: 3px;
  padding: 0.5rem;
  margin-bottom: 7px;
}
.login--container .login .login__input .login__input--password input:hover {
  border: #505050 2px solid;
}
.login--container .login .login__input .login__input--password input::-moz-placeholder {
  color: transparent;
}
.login--container .login .login__input .login__input--password input::placeholder {
  color: transparent;
}
.login--container .login .login__input .login__input--password input:focus {
  border: #a870fe 5px solid;
}
.login--container .login .login--button {
  width: 320px;
  height: 28px;
  background-color: #9146fe;
  text-align: center;
  align-items: center;
  margin: 0 auto;
  padding: 0 10px;
  border-radius: 3px;
}
.login--container .login .login--button a {
  text-decoration: none;
  color: #ffffff;
  font-family: "Kanit";
  font-style: normal;
  font-weight: 500;
  font-size: 16.8px;
  width: 100%;
}/*# sourceMappingURL=styles.css.map */